nav  .navbar-brand{
    font-size: 30px;
    font-family: 'Dosis', sans-serif;
}

body{
    overflow-x: hidden;
}

nav  .nav-lists{
    font-size: 20px;
}

.mx-auto{
    margin-top: 150px;
    z-index: 1;
}

.backimage{
    position: relative;
    opacity: 0.7;
    
}

.card{
    position: relative;
    color: white;
}

.card h5{
    font-size: 45px;
    font-family: 'Dosis', sans-serif;
}

.card p{
    font-size: 25px;  
}


.card-title, .card-text{
    font-family: 'Dosis', sans-serif;
}

.aboutme {
    
    background-color:  rgb(37, 37, 37);
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 30px ;
    padding-bottom: 50px;
}

.aboutme h1 {

    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
}

.aboutme h2{

    
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 60px;

}

.tech{

    background-color: rgb(37, 37, 37);
    padding: 30px 20px 30px 20px;
    margin-right: 30px;
    margin-top: 100px;
    
}

.interest{

    background-color: rgb(37, 37, 37);
    padding: 30px 20px 30px 20px;
    margin-right: 30px;
    margin-top: 100px;
    
}

.tech img{
    
    width: 100px;
    height: auto;
}

.tech .tech-title{
    display: inline-block;
    margin-right: 80px;
}

.tech .tech-ans{
    display: inline-block;
}

.tech .tech-ans img{
    margin-right: 40px;
}

.interest .interest-title{
    display: inline-block;
    white-space: nowrap;
    margin-right: 200px;
}

.interest .interest-ans{
    display: inline-block;
}

.interest img{
    
    width: 100px;
    height: auto;
}

.interest .interest-ans img{
    margin-right: 40px;
}


.project {
    
    background-color:  whitesmoke;
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 30px ;
    
}

.project h1 {

    margin-top: 10px;
    text-align: center;
    color: black;
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
}

.project h5,p{
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em;
}


.projectblock{
    display: inline-block;
}


.carousel{
    padding-bottom: 80px;
    padding-top : 0px;
}

.summary{
    
    background-color:  rgb(37, 37, 37);
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 30px ;
    padding-bottom: 100px;
    
}

.summary h1 {

    margin-top: 10px;
    text-align: center;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
}

.summary p{
    color: white;
}

.sum-icon{
    white-space: nowrap;
    display: inline-block;
}

.sum-content{
    display: inline-block;
    color: white;
}


footer{
    
    background-color:  whitesmoke;
    margin-top: 10px;
    padding-top: 30px;
    padding-left: 30px ;
    
}

footer h1 {

    margin-top: 10px;
    text-align: center;
    color: black;
    font-family: 'Dosis', sans-serif;
    font-size: 60px;
}

footer img{
    
    width: 100px;
    height: auto;
}


@media screen and (max-width : 1465px){
    .card{
        
        position: absolute;
        top: 100px;
        left: 25%;
        right: 20%;
        
    }
}

@media screen and (max-width : 1000px ){

    .card-text{
        
        line-height : 60% ;
    }

    .card h5{
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .card p{
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media screen and (max-width : 1462px ){

    .card-text{
        
        line-height : 70% ;
    }

    .card h5{
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .card p{
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

@media screen and (min-width : 1000px ){

    
    .card h5{
        font-size: 45px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
    .card p{
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

}




@media screen and (min-width : 767px){
    .card{
        
        position: absolute;
        top: 150px;
        left: 25%;
        right: 20%;
    }
    
}


